In [1]:
import jinja2

In [2]:
environment = jinja2.Environment()

In [3]:
template = environment.from_string("Hello, {{ name }}")
template.render(name = "World")

'Hello, World'

In [4]:
from jinja2 import Environment, FileSystemLoader

In [5]:
max_score = 100
test_name = "Python Challenge"
students = [
    {"name": "Sandrine",  "score": 100},
    {"name": "Gergeley", "score": 87},
    {"name": "Frieda", "score": 92},
]

In [8]:
environment = Environment(loader=FileSystemLoader("templates/"))
environment.join_path()

In [10]:
templateLoader = jinja2.FileSystemLoader(searchpath="./templates/")
templateEnv = jinja2.Environment(loader=templateLoader)
templateEnv

In [11]:
template = environment.get_template("message.txt")
template

In [1]:
first_word = 'Hello'
second_word = 'There'

In [2]:
first_word[0]

'H'

In [6]:
first_word[2:]

'llo'

In [7]:
my_string = "sebastian thrun"

In [9]:
my_string.title()

'Sebastian Thrun'

In [10]:
my_string.count('a')

2

In [11]:
my_string.find('a')

3

In [29]:
list_of_random_things = [1, 3.4, 'a string', True]

In [13]:
list_of_random_things[0]

1

In [14]:
list_of_random_things[len(list_of_random_things) - 1]

True

In [16]:
list_of_random_things[-3:3]

[3.4, 'a string']

In [17]:
'this' in 'this is a string'

True

In [18]:
5 not in [1, 2, 3, 4, 6]

True

In [19]:
#mutability works on list
my_lst = [1, 2, 3, 4, 5]
my_lst[0] = 'one'
print(my_lst)

['one', 2, 3, 4, 5]

In [21]:
greeting = "Hello there"
greeting[0]

'H'

In [23]:
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore
aft
starboard
port

In [24]:
new_str

'fore\naft\nstarboard\nport'

In [25]:
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)
letters.reverse() #reverse the list inplace
sorted(letters) #sorts the list but does not modify list inplace

['a', 'b', 'c', 'd', 'z']

['a', 'b', 'c', 'd', 'z']

In [27]:
list_of_random_things.pop()

True

In [30]:
list_of_random_things.pop()

True

In [31]:
list_of_random_things

[1, 3.4, 'a string']

In [33]:
list_of_random_things.extend('a string')

In [34]:
list_of_random_things

[1, 3.4, 'a string', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [35]:
dimensions = 52, 40, 100

In [36]:
dimensions

(52, 40, 100)

In [37]:
tuple_a = 1, 2
tuple_b = (1, 2)

In [38]:
tuple_c=tuple_a
tuple_a is tuple_c

True

In [39]:
tuple_b==tuple_c

True

In [40]:
tuple_a.index(2)

1

In [41]:
numbers = [1, 2, 6, 3, 1, 1, 6]

In [42]:
unique_nums = set(numbers)
unique_nums

{1, 2, 3, 6}

In [44]:
unique_nums.add('niju')
unique_nums

{1, 2, 3, 6, 'niju'}

In [45]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

elements['hydrogen']['is_noble_gas']=False
 
 
elements['helium']['is_noble_gas']=True

print(elements['hydrogen']['is_noble_gas'])

print(elements['helium']['is_noble_gas'])

False
True

In [46]:
elements

{'hydrogen': {'number': 1,
  'weight': 1.00794,
  'symbol': 'H',
  'is_noble_gas': False},
 'helium': {'number': 2,
  'weight': 4.002602,
  'symbol': 'He',
  'is_noble_gas': True}}

In [47]:
number = 145

In [49]:
number % 4

1

In [50]:
number / 4

36.25

In [51]:
number //4

36

In [52]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities: #city is the iteration variable, and cities is 
                    #the iterable being looped over
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

In [53]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [54]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
capitalized_cities = []

for city in cities:
    capitalized_cities.append(city.title())

In [55]:
capitalized_cities

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

In [56]:
"""Modifying a list is a bit more involved, and requires the use of the range()
 function. """

cities = ['new york city', 'mountain view', 'chicago', 'los angeles']

for index in range(len(cities)):
    cities[index] = cities[index].title()

print(cities)

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

In [57]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# write your for loop here
for name in names: 
    usernames.append(name.replace(' ','_'))

print(usernames)

['Joey_Tribbiani', 'Monica_Geller', 'Chandler_Bing', 'Phoebe_Buffay']

In [59]:
squares = [x for x in range(9) if x % 2 == 0]
squares

[0, 2, 4, 6, 8]

In [61]:
#zip
letters = ['a', 'b', 'c']
nums = [1, 2, 3]

for letter, num in zip(letters, nums):
    print("{}: {}".format(letter, num))

a: 1
b: 2
c: 3

In [62]:
"""
Enumerate

enumerate is a built in function that returns an iterator of tuples containing
 indices and values of a list. 
 
"""
letters = ['a', 'b', 'c', 'd', 'e']
list(enumerate(letters))
for i, letter in enumerate(letters):
    print(i, letter)

0 a
1 b
2 c
3 d
4 e

In [63]:
# Use a list comprehension to create a list of names passed that only include 
# those that scored at least 65.
# """

scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']